@model IEnumerable<AlbumsToBuy.Models.Order>

@{
    ViewData["Title"] = "Order management";
}

<h1>Order management</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpecialNotes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a href="~/Management/Customers/Details/@item.User.Id">@item.User.Email</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a href="~/Management/Payments/Details/@item.PaymentId">$@item.Payment.Amount</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Payment.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpecialNotes)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Albums" asp-route-id="@item.Id">Albums</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
