@model IEnumerable<AlbumsToBuy.Models.Payment>

@{
    ViewData["Title"] = "Payment Management";
}

<h1>Payment Management</h1>

<label>Show Payed</label>
@if (ViewBag.ShowPayed)
{
    <input type="checkbox" class="custom-checkbox" checked onclick="window.location = '/Management/Payments'"/>
}
else
{
    <input type="checkbox" class="custom-checkbox" onclick="window.location = '/Management/Payments?ShowPayed=true'"/>
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="/Management/Customers/Details/@item.User.Id">@item.User.Email</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
