@model ItemListPagination

@{
    ViewData["Title"] = "Payment Management";
}

<h1>Payment Management</h1>

<label>Show Paid</label>
@if (ViewBag.showPaid)
{
    <a asp-action="Index">
        <input type="checkbox" class="show_paid_payments_checkbox custom-checkbox" checked />
    </a>
}
else
{
    <a asp-action="Index" asp-route-showPaid="true">
        <input type="checkbox" class="show_paid_payments_checkbox custom-checkbox" />
    </a>
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Payments[0].Id)
            </th>
            <th>
                Customer
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payments[0].Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payments[0].Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Payments)
        {
            <tr>
                <td>
                    #@Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    <a href="/Management/Customers/Details/@item.User.Id">@item.User.FullName</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    @if (Model.Pagination.PageNumber == 1)
    {
        <button disabled class="btn btn-dark" id="order_management_prev_page">Previous</button>
    }
    else
    {
        <button class="btn btn-dark" id="order_management_prev_page" onclick="SetPageIndex(-1)">Previous</button>
    }

    <span>@Model.Pagination.PageNumber / @Model.Pagination.TotalPages</span>

    @if (Model.Pagination.PageNumber >= Model.Pagination.TotalPages)
    {
        <button disabled class="btn btn-dark" id="order_management_next_page">Next</button>
    }
    else
    {
        <button class="btn btn-dark" id="order_management_next_page" onclick="SetPageIndex(1)">Next</button>
    }
</div>