@model List<AlbumsToBuy.Models.Album>

@{
    ViewData["Title"] = "Shop";
}

<h1>Shop</h1>

<form asp-action="SearchFor" method="get" id="shop_search_form">
    @Html.DropDownList("SearchType", new SelectList(Enum.GetValues(typeof(ShopSearchType))), new { @class= "dark_theme" })  
    <input type="text" name="SearchValue" value="@ViewBag.SearchValue" class="dark_theme" placeholder="Search for"/>
    <input type="submit" value="Search" class="btn btn-dark" />
</form>

<table id="shop_table">
    @for (int i = 0, counter = 0; i < Math.Ceiling((decimal)((Model.Count) / 4 + 1)); i++)
    {
        <tr>
            @for (int j = 0; j < 4; j++)
            {
                if (counter < Model.Count)
                {
                    var album = Model[counter];
                    <td>
                        <div class="shop_album" value="@album.Id">
                            <img src="~/@album.ImageUrl" style="width: 240px; height:240px;" />
                            
                            <div class="shop_album_descr">
                                <h5>@album.Name</h5>
                                <h6>@album.Creator</h6>
                            </div>
                            <form asp-action="AddToShoppingCart" method="post">
                                <input type="hidden" value="@album.Id" name="Id" />
                                <button type="submit" class="btn btn-warning" style="color:black">
                                    $@album.Price
                                    <i class="fas fa-shopping-cart"></i>
                                </button>
                            </form>
                        </div>
                    </td>
                    counter++;
                }
            }
        </tr>
    }
</table>
